<launch>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    <include file="$(find ginko_joint_controller_gazebo)/launch/ginko_joint_controller.launch"/>
    <include file="$(find ginko_motion_player)/launch/fsm_nogui.launch"/>
    <include file="$(find ginko_description)/launch/roboone_large.launch"/>
</launch>
