[submodule "kuroko_ros"]
	path = kuroko_ros
	url = https://github.com/nyxrobotics/kuroko_ros
[submodule "gazebo_dc_motor"]
	path = gazebo_dc_motor
	url = https://github.com/nyxrobotics/gazebo_dc_motor
